<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="update.css">
    <title>Update Page</title>
</head>
<body>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <form action="update" method="post">
            Email: <input type="text" name="email" id="emailInput" value=""><br>
            Mobile: <input type="text" name="mobile" id="mobileInput" value=""><br>
            <input type="submit" value="Update">
        </form>
    </div>
</div>

<script src="script.js"></script>

</body>
</html>
